@font-face {
    font-family: 'rush';
    src: url(fonts/Rushfordclean-rgz89.woff2);
}

@font-face {
    font-family: 'balo';
    src: url(fonts/Baloo2-VariableFont_wght.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    width: 100%;
    font-family: 'rush';
    color: #fff;
    cursor: url(assets/cursor.png), auto;
    overflow-x: hidden;
}

::selection {
    color: #B80B0C;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #101010;
}

.main {
    background-color: #101010;
    margin-bottom: 100vh;
    overflow: hidden;
}

/* loader */
.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100999;
    background-color: #101010;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
}

#loader-text {
    font-size: 10vw;
    padding: 2vw;
    line-height: 2vw;
    font-weight: 500;
}
.logo-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-loader h1 {
    font-size: 7vw;
    font-weight: 500;
    overflow: hidden;
    color: #B80B0C;
}

.logo-loader h1 span {
    position: relative;
    display: inline-block;
}

.bg-loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
    display: flex;
}

.bg-loader-child {
    top: 0;
    width: 25vw;
    height: 100vh;
    background-color: #1a1a1a;
}


/* cursor */
.cursor-follower {
    position: fixed;
    top: -10vw;
    left: -10vw;
    opacity: 0;
    width: 2vw;
    height: 2vw;
    background-color: #fff;
    z-index: 10099;
    mix-blend-mode: difference;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

.home {
    height: 120vh;
}

.hover-text {
    position: relative;
}

.hover-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 70%;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease;
}

.hover-text:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw;
    background: rgba(0, 0, 0, 0.17);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    z-index: 10;
}

.logo img {
    width: 70%;
}

.menu-navigation-container {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.menu-navigate {
    position: relative;
    font-weight: 500;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-navigate .hover-navigate {
    display: flex;
    overflow: hidden;
}

.menu-navigate:hover .shover-navigate {
    position: absolute;
}

.menu-navigate:hover .hover-navigate span {
    transform: translateY(-2.5vw);
}

.menu-navigate .hover-navigate span:nth-child(1) {
    transition: 0.2s;
}

.menu-navigate .hover-navigate span:nth-child(2) {
    transition: 0.3s;
}

.menu-navigate .hover-navigate span:nth-child(3) {
    transition: 0.4s;
}

.menu-navigate .hover-navigate span:nth-child(4) {
    transition: 0.5s;
}

.menu-navigate .hover-navigate span:nth-child(5) {
    transition: 0.6s;
}


.menu-navigate .hover-navigate2 {
    display: flex;
    position: absolute;
    overflow: hidden;
}

.menu-navigate .hover-navigate2 span {
    transform: translateY(2.5vw);
}

.menu-navigate:hover .hover-navigate2 span {
    transform: translateY(0);
}

.menu-navigate .hover-navigate2 span {
    transition: 0.3s;
    color: #B80B0C;
}

.menu-navigate .hover-navigate2 span:nth-child(2) {
    transition: 0.4s;
}

.menu-navigate .hover-navigate2 span:nth-child(3) {
    transition: 0.5s;
}

.menu-navigate .hover-navigate2 span:nth-child(4) {
    transition: 0.6s;
}

.menu-navigate .hover-navigate2 span:nth-child(5) {
    transition: 0.7s;
}

/* menu */
.menu {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.79);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 0%;
    padding: 2vw;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0%;
    overflow: hidden;
}

.circle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 70vw;
    height: 70vw;
    top: 50%;
    left: -20vw;
    transform: translate(0%, -50%);
    border-radius: 50%;
    border: 1px solid #363636;
}

.menu-links-strips {
    display: flex;
    position: absolute;
    width: 100%;
    height: 4vw;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    transform-origin: 0% 50%;
}

.strip-1 {
    transform: translate(0, -50%) rotate(-30deg);
}

.strip-2 {
    transform: translate(0, -50%) rotate(-15deg);
}

.strip-3 {
    transform: translate(0, -50%) rotate(0deg);
}

.strip-4 {
    transform: translate(0, -50%) rotate(15deg);
}

.strip-5 {
    transform: translate(0, -50%) rotate(30deg);
}

.strip-first {
    position: relative;
    width: 55%;
    height: 100%;
}

.strip-sec {
    display: flex;
    align-items: center;
    gap: 2vw; 
    padding-left: 2vw;
    width: 50%;
    height: 100%;
}

.image-menu {
    position: absolute;
    right: 0;
}

.image-menu img {
    width: 100%;
}

.menu-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}
.circle-link{
    position: absolute;
    width: .5vw;
    height: .5vw;
    right: 1.3vw;
    top: 30%;
    border-radius: 50%;
    background-color: #404040;
}

.menu-link {
    font-size: 4vw;
    font-weight: 500;
    line-height: 1vw;
    color: #404040;
    cursor: pointer;
}

.menu-link:hover{
    font-style: italic;
}

.menu-link-3{
    color: #fff;
}
.circle-link-3{
    background-color: #fff;
}

/* home-bg */

.bg-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-home video {
    position: relative;
    top: 3%;
    width: 95%;
    height: 85%;
    object-fit: cover;
    border-radius: 1.5vw;
}

/* home */
.home-container {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 4vw;
    z-index: 9;
}

.home-container h1 {
    font-size: 8vw;
    line-height: 7vw;
    font-weight: 500;
    overflow: hidden;
    height: 15vw;
}

.home-container h1 span {
    position: relative;
    top: 5%;
    display: inline-block;
}

.right-home {
    position: relative;
}

#rotating-text {
    animation: rotate 5s linear infinite;
    transform-origin: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#arrow-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    animation: arrow-home 1s ease-in-out infinite alternate-reverse;
}

@keyframes arrow-home {
    0% {
        top: 50%;
    }

    10% {
        top: 40%;
    }

    50% {
        top: 35%;
    }

    100% {
        top: 50%;
    }
}



/* section 1 */

.sec-1 {
    width: 100%;
    height: 120vh;
}

.move {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2vw;
    white-space: nowrap;
    margin-bottom: 2vw;
}

.marquee {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 5vw;
    padding: 2vw;
    transform: translateX(-100%);
}

.marquee h1 {
    position: relative;
    top: .8vw;
    font-size: 5vw;
    line-height: 5vw;
    font-weight: 400;
    color: #010101;
}


.motorcycles-container {
    width: 100%;
    height: 100%;
    margin-top: 5vw;
}

.motorcycles {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid #4D4D4D;
    transition: color .5s ease;
}

.img-motorcycle {
    position: absolute;
    z-index: 9999;
    top: 0%;
    left: 50%;
    height: 0vw;
    border-radius: 2vw;
    overflow: hidden;
    transition: height .5s ease;
}

.img-motorcycle img {
    height: 20vw;
}

.overlay-white {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: height .5s ease;
}

.motorcycles h2 {
    position: relative;
    font-size: 3vw;
    font-weight: 100;
    letter-spacing: .1vw;
    z-index: 9;
}

#motorcycles-arrow {
    position: relative;
    transform: rotate(-25deg);
    z-index: 999;
    color: #fff;
    font-size: 1.4vw;
    transition: transform .5s ease, fill .5s ease;
}

.motorcycles:hover #motorcycles-arrow {
    transform: rotate(0deg);
    color: #000;
}

.motorcycles:hover .img-motorcycle {
    height: 20vw;
}

.motorcycles:hover .overlay-white {
    height: 100%;
}

.motorcycles:hover {
    color: #010101;
}

.motorcycles-image {
    height: 20vw;
    width: 30vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

/* section 2 */
.sec-2 {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3vw;
}

.content-sec-2 h1 {
    font-size: 5vw;
    line-height: 5vw;
    font-weight: 300;
    color: #4D4D4D;
}

.content-sec-2 p {
    font-family: 'balo';
    font-size: 1.2vw;
    color: #c1c1c1;
}

.video-sec-2 video {
    position: relative;
    margin-top: 3vw;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    overflow: hidden;
}

.video-sec-2 {
    position: relative;
    width: 80%;
    height: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 2vw;
    z-index: 999;
}

/* .button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    padding: 1vw 2vw;
    border-radius: 1vw;
    margin-top: 1vw;
}

.button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B80B0C;
    border-radius: .9vw;
    top: 10%;
    left: -3%;
    z-index: -9;
    transition: top .4s ease, left .4s ease;
}

.button:hover::after {
    left: 0;
}

.button:hover #button-arrow {
    transform: translateX(10%);
}

#btn-arrow {
    font-size: .1vw;
    transition: transform .4s ease;
}

.button-content {
    font-size: 2vw;
    font-weight: 500;
    line-height: 1.5vw;
    color: #101010;
    transition: transform .4s ease;
}

.button:active::after {
    left: 0;
    top: 0;
} */

/* section 3 */

.sec-3 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #01140f;
    color: #fff;
}

.top-sec-3 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.center-sec-3 {
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    background-image: url(assets/sec-3bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    overflow: hidden;
}

.bottom-sec-3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

#top-h1 {
    font-weight: 200;
    font-size: 22vw;
    line-height: 20vw;
    width: 100%;
    position: absolute;
    top: 20vw;
}

#bottom-h1 {
    font-weight: 200;
    font-size: 22vw;
    line-height: 20vw;
    width: 100%;
    position: absolute;
    top: -4vw;
}

.content-sec-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    gap: 4vh;
}



.imgs-sec-3 img {
    width: 30%;
}

#arrival-1 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 25%;
    transform: rotate(-10deg);
}

#arrival-2 {
    position: absolute;
    top: 5%;
    right: 2%;
    width: 35%;
    transform: rotate(5deg);
}

#arrival-3 {
    position: absolute;
    bottom: 5%;
    right: 2%;
    width: 35%;
    transform: rotate(-5deg);
}

.text-sec-3 {
    position: relative;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-sec-3 h1 {
    font-size: 10vw;
    font-weight: 500;
    letter-spacing: .3vw;
    line-height: 6vw;
}

.text-sec-3 h2 {
    font-size: 4vw;
    letter-spacing: .1vw;
    font-weight: 500;
}

.btn2 {
    padding: 1vw 2vw;
    font-weight: 2vw;
    font-size: 1.5vw;
    background-color: #B80B0C;
    border-radius: 1vw;
}

/* section 4 */
.sec-4 {
    height: 100vh;
    width: 100%;
    margin-top: 3vw;
}

.header-accessories {
    position: relative;
    left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 10vh;
    border-bottom: 1px solid #4D4D4D;
    padding: 2vw;
}

.header-accessories h1 {
    font-size: 2.5vw;
    font-weight: 500;
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.previous,
.next {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1vw .7vw;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: border .3s;
}

#previous,
#next {
    z-index: 9999;
}

.hover-arrows-accessory::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #B80B0C;
    transition: top .4s ease;
}

.previous:hover,
.next:hover {
    border: 0px solid #fff;
}

.hover-arrows-accessory:hover::after {
    top: 0;
}

.previous {
    transform: rotate(180deg);
}

.accessory-container {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 2vw;
    padding: 2vw;
    font-family: 'balo';
}

.accessory {
    position: relative;
    width: 25vw;
    height: 30vw;
    border: 1px solid #fff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
}

.top-accessory {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    top: 0;
    padding: 2vw 1vw;
    font-size: 1.1vw;
}

.top-accessory h4 {
    line-height: 1.3vw;
    font-weight: 200;
}

.img-accesory img {
    height: 22vw;
}

.img-accesory {
    transition: transform .5s ease;
}

.bottom-accessory {
    position: absolute;
    bottom: -10vw;
    background-color: #383838;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    color: #fff;
    font-size: 1.3vw;
    transition: bottom .5s ease, color .5s ease;
}

#accessory-arrow {
    transition: transform .4s ease;
}

.bottom-accessory:hover #accessory-arrow {
    transform: translateX(20%);
}

.bottom-accessory:hover {
    font-style: italic;
}

.accessory:hover .bottom-accessory {
    bottom: 0;
}

.accessory:hover .img-accesory {
    transform: scale(1.2);
}

.odd {
    position: relative;
    top: 5vw;
}

.accessory-circle-bg{
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #383838;
    top: -30%;
    right: -30%;
    z-index: -9;
    transition: scale .5s ease;
}

.accessory:hover .accessory-circle-bg{
    scale: 1.3;
}

/* section 5 */

.sec-5 {
    position: relative;
    height: 70vw;
    width: 100vw;
    gap: 1vw;
    overflow: hidden;
}

.move-container {
    position: relative;
    top: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.move-sec-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 2vw;
    white-space: nowrap;
}

.marquee-sec-5 {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 5vw;
    padding-right: 2vw;
}

.marquee-sec-5 h1 {
    position: relative;
    top: .8vw;
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: .3vw;
}

#move-image {
    height: 8vw;
}

.one-move {
    position: relative;
    background-color: #6A5542;
    transform: rotate(9deg);
}

.two-move {
    position: relative;
    top: -10vw;
    background-color: #303030;
    transform: rotate(-20deg);
}

.three-move {
    position: relative;
    top: 5vw;
    background-color: #002E21;
    transform: rotate(9deg);
}

.four-move {
    position: relative;
    top: -10vw;
    left: 30vw;
    background-color: #F1A501;
    transform: rotate(-20deg);
}

.two-marquee {
    transform: translateX(-20%);
}

.three-marquee {
    transform: translateX(50%);
}

.goa-garage-cafe {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.sec-5-bgs-container {
    height: 100vh;
    position: relative;
    display: flex;
}

.sec5-bgs {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.bg1-sec5 {
    background-image: linear-gradient(180deg, rgba(2, 2, 2, 0), rgba(2, 2, 2, .6)), url(assets/cafe1.png);
}

.bg2-sec5 {
    background-image: linear-gradient(180deg, rgba(2, 2, 2, 0), rgba(2, 2, 2, .6)), url(assets/cafe2.png);
}

.sec-5-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 2vw;
}

.sec-5-content h1 {
    font-size: 4vw;
    font-weight: 500;
    line-height: 4vw;
}

.sec-5-content p {
    font-family: 'balo';
    font-size: 1vw;
    width: 70%;
    line-height: 1.3vw;
}

.button {
    position: relative;
    margin-top: 1vw;
    background-color: #fff;
    padding: .9vw 5vw;
    border-radius: 1vw;
    color: #000;
    transition: color .4s ease;
}

.button::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #F1A501;
    top: 0;
    left: 0;
    border-radius: 1vw;
    transition: width .4s ease;
}

.button:hover::after {
    width: 100%;
}

.button:hover {
    color: #fff;
}

.button h3 {
    position: relative;
    font-size: 1.2vw;
    line-height: 1vw;
    font-weight: 500;
    z-index: 999;
}

/* section 6 */

.sec-6 {
    height: 135vw;
    width: 100%;
    padding: 2vw;
    overflow: hidden;
    margin-top: 2vw;
}

.header-sec-6 {
    position: relative;
    left: 2%;
    width: 95%;
    height: 10vh;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-sec-6 h1 {
    font-size: 3vw;
    font-weight: 200;
}

.header-sec-6 p {
    font-size: 1vw;
    line-height: 1.2vw;
    font-family: 'balo';
    text-align: right;
}

.gallery-container {
    width: 100vw;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-gallery {
    display: flex;
    align-items: flex-start;
    margin-bottom: 90vh;
    gap: 2vw;
    width: 80vw;
}

.row-image {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2vw;
}

#gallery-img {
    width: 100%;
}

/* Footer */
.footer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    padding: 2vw;
    overflow: hidden;
    background-color: #010101;
    z-index: -99;
}

.footer-header {
    display: flex;
    align-items: center;
    width: 95vw;
    height: 10vh;
    border-bottom: 1px solid #fff;
}

.footer-header h1 {
    font-size: 2vw;
    font-weight: 200;
}

#arrow-footer {
    transform: rotate(-20deg);
    transition: transform .4s ease;
}

.footer-header h1:hover #arrow-footer {
    transform: rotate(0deg);
}

.footer-mid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1vw 2vw;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
}

.footer-child-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vw;
    font-family: 'balo';
}

#heading-footer {
    position: relative;
    font-size: 2.5vw;
    color: #a5a5a5;
    font-weight: 300;
    transition: color .4s ease;
}

#heading-footer:hover {
    color: #fff;
}

.col-footer li a {
    font-size: 1.2vw;
}

.col-footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .7vw;
}

.social-col-footer {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.social-icon {
    position: relative;
    width: 4vw;
    height: 4vw;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.social-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: -50%;
    border-radius: 50%;
    background-color: #fff;
    transition: top .4s ease, left .4s ease;
}

.social-icon:hover::after {
    top: 0;
    left: 0;
}

.social-icon img {
    height: 1.5vw;
    mix-blend-mode: difference;
    z-index: 99;
}

.bottom {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.bottom-top {
    position: relative;
    top: 25%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
}

.bottom-top h1 {
    position: relative;
    top: 2vw;
    font-size: 17vw;
    line-height: 13vw;
    font-weight: 500;
    color: #B80B0C;
}

.bottom-top h1 span {
    position: relative;
    display: inline-block;
}

.bottom-bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 8vw;
    font-family: 'balo';
    font-size: 1vw;
}